
/*------------------------------------------------------------------

Spacedoge - such pattern, much wow

-------------------------------------------------------------------
[Table of Contents]

$Setup
	Your first port of call.

$Colours
	Set up your site's colours.

$Base
	Body styles, basic link styles

$Type
	Web fonts, basic unclassed type styles

$Abstractions
	Reusable design chunks

$Style_trumps
	Helper classes, specifc 1-off styles,
	error styles etc.
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[$Setup]

Your first port of call. Includes all necessary files.
-------------------------------------------------------------------*/

$main-font-sizing-unit: em;

$h1-size: 2;
$h2-size: 1.6;
$h3-size: 1.4;
$h4-size: 1.2;
$h5-size: 1;
$h6-size: 1;

$container-width: 960px; // Set to 100% for responsive stuff
$grid-gutter: 20px;

$success-colour: #dff0d8;
$warning-colour: #fcf8e3;
$error-colour: #f2dede;
$info-colour: #d9edf7;

// Import default styling
@import "base/reset.scss";
@import "base/base.scss";
@import "base/helpers.scss";
@import "base/breakpoints.scss";
@import "base/type.scss";
@import "base/tables.scss";
@import "base/forms.scss";
@import "base/grid.scss";

/*------------------------------------------------------------------
[$Colours]

Set up your site's colours. I usually name space these to make
them easier to find.

e.g. $gd-red
-------------------------------------------------------------------*/

$gd-red: #a21418;

$ltw-brand: #093c71;
$ltw-highlight: #e8ff00;
$ltw-body: #727272;
$ltw-brand-light: #0097CE;

$primary: $ltw-brand;
$secondary: $ltw-highlight;
$info: #f49c20;
$warning: $ltw-highlight;
$success: #00a176;
$danger: #ea2727;
$dark: darken($ltw-brand,10%);
$light: $ltw-brand-light;

@import "bootstrap/bootstrap-grid.scss";
@import "bootstrap/bootstrap-reboot.scss";
@import "bootstrap/bootstrap.scss";

/*------------------------------------------------------------------
[$Base]

Body styles, basic link styles
-------------------------------------------------------------------*/

body {
    background-color: #fff;

    @extend .gotham-book;
}

#site__logo {
    display: block;

    max-width: 230px;
    margin-bottom: 70px;
}

.container {
    width: auto;
    max-width: 1200px;

    @include custom-max-breakpoint(1200) {
        padding: 0 5%;
    }
}

.container--small {
    max-width: 1000px;
}

a {
    text-decoration: underline;

    color: $ltw-brand-light;
}

.lede {
    @include breakpoint(m) {
        width: 60%;
        margin: 0 auto;
    }
}

/*------------------------------------------------------------------
[$Type]

Web fonts, basic unclassed type styles
-------------------------------------------------------------------*/

.gotham-book {
    font-family: "Gotham SSm A", "Gotham SSm B", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.gotham-medium {
    font-family: "Gotham SSm A", "Gotham SSm B", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
}

.gotham-bold {
    font-family: "Gotham SSm A", "Gotham SSm B", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
}

h1,h2,h3,h4,h5,h6 {
    color: $ltw-brand;

    @extend .gotham-medium;
}

p {
    color: $ltw-body;

    @extend .gotham-book;
}

/*------------------------------------------------------------------
[$Abstractions]

Reusable design chunks
-------------------------------------------------------------------*/

.info-box {
    overflow: hidden;

    padding: 5%;

    @include breakpoint(m) {
        padding: 80px;
    }
}

.info-box--intro {
    margin-bottom: 40px;

    background-color: $ltw-brand;

    @include custom-breakpoint(950) {
        background: $ltw-brand url(../img/header-bg-lrg.jpg) no-repeat right top;
    }
    @include is-hd-screen{
        @include custom-breakpoint(950) {
            background: $ltw-brand url(../img/header-bg-lrg@2x.jpg) no-repeat right top;
            background-size: 1300px auto;
        }
    }

    h1,h2,h3,h4,h5,h6,p,li {
        color: #fff;
    }

    .info-box__cta {
        .cta-info {
            p,li {
                color: $ltw-highlight;
            }
        }
    }
}

.info-box--why {
    padding-bottom: 50px;

    @include breakpoint(m) {
        padding-bottom: 100px;
    }

    @include custom-breakpoint(950) {
        background: url(../img/why-bg.jpg) no-repeat;
    }

    @include is-hd-screen{
        @include custom-breakpoint(950) {
            background: url(../img/why-bg@2x.jpg) no-repeat;
            background-size: 1322px auto;
        }
    }
}

.info-box--promo {
    text-align: center;

    background-color: $ltw-brand;

    .lede {
        margin-bottom: 20px;

        font-size: 1.5rem;
    }
}

.cta-info {
    margin-bottom: 20px;

    p,li {
        margin-bottom: 0;

        text-transform: uppercase;

        color: $ltw-brand;

        font-size: 0.8rem;
    }
}

.cta-info--rev {
    p {
        color: $ltw-highlight;
    }
}

.media__body, .media__img {
    @include max-breakpoint(m) {
        float: none;
    }
}

.info-box__announce {
    margin-bottom: 30px;

    font-size: 2rem;

    @include breakpoint(m) {
        font-size: 2.3rem;
    }

    @include breakpoint(m) {
        margin-bottom: 80px;
    }

    h1,h2,h3,h4,h5,h6,p,li {
        @extend .gotham-medium;
    }
}

.info-box__cta {
    font-size: 1.2rem;
}

.info-box__body {
    margin-bottom: 40px;
    padding-top: 40px;

    h1,h2,h3,h4,h5,h6 {
        font-size: 1.8rem;

        .info-box--promo & {
            color: #fff;
        }
    }

    p {
        font-size: 1.2rem;
        line-height: 150%;

        .info-box--promo & {
            color: #fff;
        }
    }
}

.feature {
    margin: 0 auto;
    padding: 20px 0;

    color: #fff;
    border-top: 1px solid darken($ltw-brand,10%);

    @include breakpoint(m) {
        width: 45%;
    }

    p {
        margin-bottom: 0;

        font-size: 1.2rem;
    }
}


/*---------------------------------------------
[$site__header]
----------------------------------------------*/

.site__header {

}

/*---------------------------------------------
/ ENDS [$site__header]
----------------------------------------------*/


/*---------------------------------------------
[$course-info]
----------------------------------------------*/

.course-info {

}

.course-info__detail {
    margin-bottom: 0;

    text-transform: uppercase;

    color: $ltw-brand-light;

    font-size: 0.8rem;
}

/*---------------------------------------------
// ENDS [course-info]
----------------------------------------------*/

/*---------------------------------------------
[$list-group]
----------------------------------------------*/

.list-group {

}

.list-group-item {
    text-decoration: none;

    color: #fff;
    border-width: 2px;
    border-color: #fff;
    border-bottom-width: 0;
    background-color: transparent;

    &.active {
        border-color: #fff;
        border-bottom-width: 1px;
    }

    &:first-child {
        border-top-left-radius: 0.75rem;
        border-top-right-radius: 0.75rem;
    }

    &:last-child {
        border-bottom-width: 2px;
        border-bottom-right-radius: 0.75rem;
        border-bottom-left-radius: 0.75rem;
    }
}

.tab-content {
    text-align: left;
}

/*---------------------------------------------
// ENDS [list-group]
----------------------------------------------*/


/*---------------------------------------------
[$island]
Bordered content area
----------------------------------------------*/

.island {
    padding: 20px;

    text-align: center;

    border: 2px solid $ltw-brand;

    h1,h2,h3,h4,h5,h6,p,li {
        color: $ltw-brand;
    }
}

.island__title {
    margin-bottom: 20px;
}

.island__body {
    margin-bottom: 20px;

    font-size: 1.1rem;
}

/*---------------------------------------------
// ENDS [island]
----------------------------------------------*/


/*---------------------------------------------
[$content-block]
----------------------------------------------*/

.content-block {
    .content-block__title {
        text-align: center;
    }
}

.content-block--ltw-brand {
    margin-bottom: 0;
    padding: 45px 0;

    text-align: center;

    background-color: $ltw-brand;

    .lede {
        margin-bottom: 40px;
    }

    h1,h2,h3,h4,h5,h6,p,li {
        color: #fff;
    }

    a {
        color: #fff;
    }
}

.content-block--projects {
    padding: 45px 0;

    text-align: center;

    background-color: $ltw-brand-light;

    h1,h2,h3,h4,h5,h6,p,li {
        color: #fff;
    }
}

.content-block--different {
    .content-block__title {
        margin-bottom: 50px;
    }
}

.content-block__title {
    h1,h2,h3,h4,h5,h6,p,li {
        font-size: 1.8rem;
    }
}

.content-block__subtitle {
    margin-bottom: 20px;

    h1,h2,h3,h4,h5,h6,p,li {
        color: $ltw-brand;

        font-size: 1.5rem;
        line-height: 145%;
    }
}

.content-block__body {
    p {
        line-height: 165%;
        margin-bottom: 1rem;
    }
}

/*---------------------------------------------
// ENDS [content-block]
----------------------------------------------*/


/*---------------------------------------------
[$projects]
----------------------------------------------*/

.projects {

}

.project {
    padding: 20px;

    text-align: left;

    border-radius: 10px;
    background: $primary;

    .small {
        margin-bottom: 0.5rem;

        text-transform: uppercase;
    }
}

.project__body {
    margin-bottom: 20px;
    p {
        line-height: 175%;
    }
}

.project__meta {
    .icons {
        margin-left: 0;
    }
}

/*---------------------------------------------
// ENDS [projects]
----------------------------------------------*/


/*---------------------------------------------
[$fact]
----------------------------------------------*/

.fact {
    position: relative;

    margin-bottom: 30px;
    padding: 30px;

    border-radius: 20px;
    background-color: $ltw-brand;

    @include breakpoint(m) {
        width: 50%;
        margin-right: 0px;
        margin-left: auto;
    }

    h1,h2,h3,h4,h5,h6,p,li {
        color: #fff;
    }

    p:last-child {
        margin-bottom: 0;
    }
}

.fact__no {
    position: absolute;
    top: -10px;
    left: -10px;

    width: 20px;
    height: 20px;
    padding: 10px 10px;

    text-align: center;

    border-radius: 50px;
    background-color: $ltw-brand;

    p {
        font-weight: bold;
    }
}

.content-block--different {
    .content-block__body {
        .fact:nth-child(2n) {
            @include breakpoint(m) {
                margin-left: 0px;
            }
        }
    }
}

/*---------------------------------------------
// ENDS [fact]
----------------------------------------------*/


/*---------------------------------------------
[$icons]
----------------------------------------------*/

.icons {
    margin-right: auto;
    margin-bottom: 25px;
    margin-left: auto;

    @include custom-breakpoint(1010) {
        display: table;
    }

    li {
        display: inline-block;

        padding: 4px 12px;

        @include custom-breakpoint(1010) {
            display: table-cell;

            vertical-align: middle;
        }
    }
}

.icons--flexible {
    display: block;
    li {
        display: inline-block;
    }
}

.icons__title {
    text-transform: uppercase;

    @extend .gotham-medium;
}

/*---------------------------------------------
// ENDS [icons]
----------------------------------------------*/


/*---------------------------------------------
[$btn]

Button class to make nice buttons

<a class="btn" href="#" />
----------------------------------------------*/

.btn {
    padding: 15px 20px;

    text-decoration: none;

    border-radius: 30px;

	line-height: 100%;

    @include media-breakpoint-down(sm) {
    	padding: 15px 40px;
    }

	&:hover {
		background: darken($ltw-brand,10%);
	}
}

.btn--alt {
    color: #fff;
    background-color: $ltw-brand;

    @extend .gotham-medium;

    &:hover {
        background: darken($ltw-brand, 10%);
        color: #fff;
    }
}

.btn--lrg {
    font-size: 1.3rem;
}

.btn--block {
    display: block;

    text-align: center;

    @include media-breakpoint-down(sm) {
        margin-top: 30px;
    }
}

/*---------------------------------------------
// ENDS [btn]
----------------------------------------------*/


/*------------------------------------------------------------------
[$Style_trumps]

Helper classes, specifc 1-off styles, error styles etc.
-------------------------------------------------------------------*/

.social {
    margin-top: 20px;

    text-align: right;

    li {
        display: inline;

        margin: 0 5px;
    }
}
