
/*------------------------------------------------------------------

Spacedoge - such pattern, much wow

-------------------------------------------------------------------
[Table of Contents]

$Setup
	Your first port of call.

$Colours
	Set up your site's colours.

$Base
	Body styles, basic link styles

$Type
	Web fonts, basic unclassed type styles

$Abstractions
	Reusable design chunks

$Style_trumps
	Helper classes, specifc 1-off styles,
	error styles etc.
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[$Setup]

Your first port of call. Includes all necessary files.
-------------------------------------------------------------------*/

$main-font-sizing-unit: em;

$h1-size: 2;
$h2-size: 1.6;
$h3-size: 1.4;
$h4-size: 1.2;
$h5-size: 1;
$h6-size: 1;

$container-width: 960px; // Set to 100% for responsive stuff
$grid-gutter: 20px;

$success-colour: #dff0d8;
$warning-colour: #fcf8e3;
$error-colour: #f2dede;
$info-colour: #d9edf7;

// Import default styling
@import "base/reset.scss";
@import "base/base.scss";
@import "base/helpers.scss";
@import "base/breakpoints.scss";
@import "base/type.scss";
@import "base/tables.scss";
@import "base/forms.scss";
@import "base/grid.scss";

/*------------------------------------------------------------------
[$Colours]

Set up your site's colours. I usually name space these to make
them easier to find.

e.g. $gd-red
-------------------------------------------------------------------*/

$gd-red: #a21418;

$ltw-brand: #093c71;
$ltw-highlight: #e8ff00;
$ltw-body: #727272;
$ltw-brand-light: #0097CE;


/*------------------------------------------------------------------
[$Base]

Body styles, basic link styles
-------------------------------------------------------------------*/

body {
    background-color: #fff;
    @extend .gotham-book;
}

#site__logo {
    max-width: 230px;
    display: block;
    margin-bottom: 70px;
}

.container {
    width: auto;
    max-width: 1200px;

    @include custom-max-breakpoint(1200) {
        padding: 0 5%;
    }
}

.container--small {
    max-width: 1000px;
}

a {
    text-decoration: underline;
    color: $ltw-brand-light;
}

.lede {
    @include breakpoint(m) {
        width: 60%;
        margin: 0 auto;
    }
}

/*------------------------------------------------------------------
[$Type]

Web fonts, basic unclassed type styles
-------------------------------------------------------------------*/

.gotham-book {
    font-family: "Gotham SSm A", "Gotham SSm B", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
}

.gotham-medium {
    font-family: "Gotham SSm A", "Gotham SSm B", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
}

.gotham-bold {
    font-family: "Gotham SSm A", "Gotham SSm B", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
}

h1,h2,h3,h4,h5,h6 {
    @extend .gotham-medium;
    color: $ltw-brand;
}

p {
    @extend .gotham-book;
    color: $ltw-body;
}

/*------------------------------------------------------------------
[$Abstractions]

Reusable design chunks
-------------------------------------------------------------------*/

.info-box {
    padding: 5%;
    @include breakpoint(m) {
        padding: 80px;
    }
    overflow: hidden;
}

.info-box--intro {
    background-color: $ltw-brand;
    margin-bottom: 40px;

    h1,h2,h3,h4,h5,h6,p,li {
        color: #fff;
    }
    @include custom-breakpoint(950) {
        background: $ltw-brand url(../img/header-bg-lrg.jpg) no-repeat right top;
    }

    @include is-hd-screen{
        @include custom-breakpoint(950) {
            background: $ltw-brand url(../img/header-bg-lrg@2x.jpg) no-repeat right top;
            background-size: 1300px auto;
        }
    }

    .info-box__cta {
        .cta-info {
            p,li {
                color: $ltw-highlight;
            }
        }
    }
}

.info-box--why {
    padding-bottom: 50px;
    @include breakpoint(m) {
        padding-bottom: 100px;
    }
    @include custom-breakpoint(950) {
        background: url(../img/why-bg.jpg) no-repeat;
    }

    @include is-hd-screen{
        @include custom-breakpoint(950) {
            background: url(../img/why-bg@2x.jpg) no-repeat;
            background-size: 1322px auto;
        }
    }
}

.info-box--promo {
    background-color: $ltw-brand;
    text-align: center;

    .lede {
        font-size: 22px;
        margin-bottom: 20px;
    }
}

.cta-info {
    margin-bottom: 20px;
    p,li {
        margin-bottom: 0;
        font-size: 0.8em;
        text-transform: uppercase;
        color: $ltw-brand;
    }
}

.cta-info--rev {
    p {
        color: $ltw-highlight;
    }
}

.media__body, .media__img {
    @include max-breakpoint(m) {
        float: none;
    }
}

.info-box__announce {
    font-size: 30px;
    margin-bottom: 30px;
    @include breakpoint(m) {
        font-size: 40px;
    }
    @include breakpoint(m) {
        margin-bottom: 80px;
    }
    h1,h2,h3,h4,h5,h6,p,li {
        @extend .gotham-medium;
    }
}

.info-box__cta {
    font-size: 1.2em;
}

.info-box__body {
    padding-top: 40px;
    margin-bottom: 40px;
    h1,h2,h3,h4,h5,h6 {
        font-size: 35px;

        .info-box--promo & {
            color: #fff;
        }
    }

    p {
        font-size: 18px;
        line-height: 150%;

        .info-box--promo & {
            color: #fff;
        }
    }
}

.feature {
    color: #fff;
    border-top: 1px solid darken($ltw-brand,10%);
    @include breakpoint(m) {
        width: 45%;
    }
    margin: 0 auto;
    padding: 20px 0;

    p {
        font-size: 1.2em;
        margin-bottom: 0;
    }
}


/*---------------------------------------------
[$site__header]
----------------------------------------------*/

.site__header {

}

/*---------------------------------------------
/ ENDS [$site__header]
----------------------------------------------*/


/*---------------------------------------------
[$course-info]
----------------------------------------------*/

.course-info {
    margin-bottom: 30px;
}

.course-info__detail {
    color: $ltw-brand-light;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 0;

    dt {
    }

    dd {
        font-weight: bold;
    }
}

/*---------------------------------------------
// ENDS [course-info]
----------------------------------------------*/


/*---------------------------------------------
[$island]
Bordered content area
----------------------------------------------*/

.island {
    border: 2px solid $ltw-brand;
    text-align: center;
    padding: 20px;

    h1,h2,h3,h4,h5,h6,p,li {
        color: $ltw-brand;
    }
}

.island__title {
    margin-bottom: 20px;
}

.island__body {
    font-size: 1.1em;
    margin-bottom: 20px;
}

/*---------------------------------------------
// ENDS [island]
----------------------------------------------*/


/*---------------------------------------------
[$content-block]
----------------------------------------------*/

.content-block {
    margin-bottom: 40px;

    .content-block__title {
        text-align: center;
    }
}

.content-block--ltw-brand {
    background-color: $ltw-brand;
    text-align: center;
    padding: 45px 0;
    margin-bottom: 0;

    .lede {
        margin-bottom: 40px;
    }

    h1,h2,h3,h4,h5,h6,p,li {
        color: #fff;
    }

    a {
        color: #fff;
    }
}

.content-block--projects {
    background-color: $ltw-brand-light;
    text-align: center;
    padding: 45px 0;

    .lede {
        // margin-bottom: 40px;
    }

    h1,h2,h3,h4,h5,h6,p,li {
        color: #fff;
    }

    a {
        color: #fff;
    }
}

.content-block--different {
    .content-block__title {
        margin-bottom: 50px;
    }
}

.content-block__title {
    h1,h2,h3,h4,h5,h6,p,li {
        font-size: 35px;
    }
}

.content-block__subtitle {
    margin-bottom: 20px;
    h1,h2,h3,h4,h5,h6,p,li {
        color: $ltw-brand;
        font-size: 25px;
    }
}

.content-block__body {
    p {
        line-height: 165%;
        margin-bottom: 20px;
    }
}

/*---------------------------------------------
// ENDS [content-block]
----------------------------------------------*/


/*---------------------------------------------
[$fact]
----------------------------------------------*/

.fact {
    background-color: $ltw-brand;
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 30px;
    position: relative;

    @include breakpoint(m) {
        width: 50%;
        margin-left: auto;
        margin-right: 0px;
    }

    h1,h2,h3,h4,h5,h6,p,li {
        color: #fff;
    }

    p:last-child {
        margin-bottom: 0;
    }
}

.fact__no {
    position: absolute;
    top: -10px;
    left: -10px;
    background-color: $ltw-brand;
    border-radius: 50px;
    padding: 10px 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    p {
        font-weight: bold;
    }
}

.content-block--different {
    .content-block__body {
        .fact:nth-child(2n) {
            @include breakpoint(m) {
                margin-left: 0px;
            }
        }
    }
}

/*---------------------------------------------
// ENDS [fact]
----------------------------------------------*/


/*---------------------------------------------
[$icons]
----------------------------------------------*/

.icons {
    margin-bottom: 25px;
    @include custom-breakpoint(1010) {
        display: table;
    }
    margin-left: auto;
    margin-right: auto;
    li {
        display: inline-block;
        @include custom-breakpoint(1010) {
            display: table-cell;
            vertical-align: middle;
        }
        padding: 4px 12px;
    }
}

.icons__title {
    @extend .gotham-medium;
    text-transform: uppercase;
}

/*---------------------------------------------
// ENDS [icons]
----------------------------------------------*/


/*---------------------------------------------
[$btn]

Button class to make nice buttons

<a class="btn" href="#" />
----------------------------------------------*/

.btn {
	color: #fff;
	padding: 15px 40px;
	line-height: 100%;
	display: inline-block;
    border-radius: 30px;
    background-color: $ltw-brand-light;
    text-decoration: none;

	&:visited {
		color: $ltw-brand;
	}

	&:hover {
        color: #fff;
		background: darken($ltw-brand,10%);
	}
}

.btn--alt {
    border-color: $ltw-highlight;
    color: $ltw-highlight;
    @extend .gotham-medium;

    &:hover {
        background: darken($ltw-highlight, 30%);
    }
}

.btn--lrg {
    font-size: 1.3em;
}

.btn--block {
    display: block;
    text-align: center;
    @include max-breakpoint(m) {
        margin-top: 30px;    
    }
}

/*---------------------------------------------
// ENDS [btn]
----------------------------------------------*/


/*------------------------------------------------------------------
[$Style_trumps]

Helper classes, specifc 1-off styles, error styles etc.
-------------------------------------------------------------------*/


.social {
    text-align: right;
    margin-top: 20px;
    li {
        display: inline;
        margin: 0 5px;
    }
}
