---
layout: default
---


<div class="info-box info-box--intro">
    <div class="container">
        <div class="site__header">
            <div class="gw">
                <div class="g one-half">
                    {% include logo.html %}
                </div>
                <!-- /.g one-half -->
                <div class="g one-half">
                    <ul class="social">
                        <li><a href="https://twitter.com/learntheweb_"><img width="23" height="25" src="/assets/img/twitter-social.png" srcset="/assets/img/twitter-social@2x.png 2x" alt="Twitter" /></a></li>
                        <li><a href="https://www.facebook.com/learntheweb/"><img width="23" height="25" src="/assets/img/facebook-social.png" srcset="/assets/img/facebook-social@2x.png 2x" alt="Facebook" /></a></li>
                        <li><a href="https://www.instagram.com/learntheweb/"><img width="23" height="25" src="/assets/img/instagram-social.png" srcset="/assets/img/instagram-social@2x.png 2x" alt="Instagram" /></a></li>
                    </ul>
                    <!-- /.social -->
                </div>
                <!-- /.g one-half -->
            </div>
            <!-- /.gw -->
        </div>
        <!-- /.site__header -->
        <div class="one-whole l-two-thirds">
            <div class="info-box__announce">
                <p>The web is an amazing place, but there’s so much more to it than browsing Facebook and watching funny cat videos on YouTube.</p>

                <p>You could be <em>making</em> the web.</p>

                <p>Introducing [re]start.</p>
            </div>
            <!-- /.info-box__announce -->
            <div class="info-box__cta">
                <div class="media">
                    <div class="media__img">
                        <div class="cta-info">
                            <p><a href="mailto:hello@learntheweb.co.uk?subject=I'd like to know more about [re]start" class="btn">[re]start your career</a></p>
                        </div>
                        <!-- /.cta-info -->
                    </div>
                    <!-- /.media__img -->
                    <div class="media__body">
                        <div class="cta-info">
                            <p>14 week course</p>
                            <p>Starting New Year 2019</p>
                        </div>
                    </div>
                    <!-- /.media__body -->
                </div>
                <!-- /.media -->
            </div>
            <!-- /.info-box__cta -->
        </div>
        <!-- /.g one-whole m-one-half -->
    </div>
    <!-- /.container -->
</div>

<div class="container">
    <div class="course-info mb-4">
        <div class="row">
            <div class="col-6 col-md-2">
                <dl class="course-info__detail">
                    <dt>Course length</dt>
                    <dd>14 weeks</dd>
                </dl>
            </div>
            <!-- /.col-12 col-md-2 -->
            <div class="col-6 col-md-4">
                <dl class="course-info__detail">
                    <dt>Timetable</dt>
                    <dd>4 days a week, Mon-Thurs, 9am-5pm</dd>
                </dl>
            </div>
            <!-- /.col-6 col-md-4 -->
            <div class="col-6 col-md-3">
                <dl class="course-info__detail">
                    <dt>Starting</dt>
                    <dd>New Year 2019</dd>
                </dl>
            </div>
            <!-- /.col-6 col-md-3 -->
            <div class="col-12 col-md-3">
                <p class="g-align-right"><a href="mailto:hello@learntheweb.co.uk?subject=I'd like to know more about [re]start" class="btn btn-primary btn--block">Apply now</a></p>
            </div>
            <!-- /.col-12 col-md-3 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.course-info -->
</div>
<!-- /.container -->

<div class="content-block mb-4">
    <div class="container">
        <div class="content-block__subtitle">
            <p>[re]start is Learn the Web’s employment-focussed course that aims to get you a job in the Creative & Digital Industries, whether that’s as a designer, developer, marketer or somewhere in-between … and there’s lots of in-betweens!</p>
        </div>
        <!-- /.content-block__subtitle -->
        <div class="content-block__body">
            <div class="row">
                <div class="col-12 col-md-6">
                    <p>[re]start is accelerated, so you get into the industry quicker; it’s full-time, so you can immerse yourself in the subject material; it’s multi-disciplinary, so you can investigate a range of career options; and it’s based in Barnsley’s award-winning creative & digital hub – the DMC – where you can rub shoulders with web professionals every day.</p>

                    <p>You’ll learn how to design things; how to code things; and how to market them – predominantly websites – but there’s a whole lot more that those skills can be used for.</p>
                </div>
                <!-- /.col-12 col-md-6 -->
                <div class="col-12 col-md-6">
                    <p>Your expertise will be developed through a series of practical projects which progressively build your skills and confidence. Start off with simple things; do them well; move onto more complicated things; do them well. Rinse. Repeat.</p>

                    <p>You’ll learn in a supportive environment with a teaching team who know the Creative & Digital Industries – and education – inside out. We’ve got a significant amount of experience between us and have helped a lot of people get jobs over the years. </p>
                </div>
                <!-- /.col-12 col-md-6 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.content-block__body -->
    </div>
    <!-- /.container -->
</div>
<!-- /.content-block -->

<div class="content-block mb-5">
    <div class="container">
        <div class="island">
            <div class="island__title">
                <h2>[re]start is for you if:</h2>
            </div>
            <!-- /.island__title -->
            <div class="island__body">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p>You’re an adult wanting to retrain for a new career in one of the UK’s fastest growing industry sectors.</p>
                    </div>
                    <!-- /.col-12 col-md-4 -->
                    <div class="col-12 col-md-4">
                        <p>You’re a student looking for a cheaper, quicker and more relevant alternative to university.</p>
                    </div>
                    <!-- /.col-12 col-md-4 -->
                    <div class="col-12 col-md-4">
                        <p>You’re wanting to convert your hobby into a truly rewarding career.</p>
                    </div>
                    <!-- /.col-12 col-md-4 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.island__body -->
            <div class="island__cta">
                <p>If this sounds like you, <a href="mailto:hello@learntheweb.co.uk?subject=I'd like to know more about [re]start">apply now</a>.</p>
            </div>
        </div>
        <!-- /.island -->
    </div>
    <!-- /.container -->
</div>
<!-- /.content-block -->

<div class="content-block content-block--ltw-brand">
    <div class="container">
        <div class="content-block__title">
            <h2>What you’ll learn</h2>
        </div>
        <!-- /.content-block__title -->
        <div class="content-block__body">
            <p class="lede">We’ll be putting you through your paces for 14 solid weeks to make you aware of and proficient with a wide array of industry standard technologies and methodologies.</p>

            <div class="gw">
                <div class="g one-whole m-one-half">
                    <p class="icons__title">Graphic Design, UX and UI</p>
                    <ul class="icons">
                        <li>
                            <img data-toggle="tooltip" data-placement="top" title="Adobe Illustrator CC" height="55" src="/assets/img/adobe-illustrator-cc.png" srcset="/assets/img/adobe-illustrator-cc@2x.png 2x" alt="Adobe Illustrator CC" />
                        </li>
                        <li>
                            <img height="55" src="/assets/img/indesign-cc.png" srcset="/assets/img/indesign-cc@2x.png 2x" alt="Adobe InDesign" />
                        </li>
                        <li>
                            <img height="55" src="/assets/img/photoshop-cc.png" srcset="/assets/img/photoshop-cc@2x.png 2x" alt="Adobe Photoshop" />
                        </li>
                        <li>
                            <img height="55" src="/assets/img/adobe-xd.png" srcset="/assets/img/adobe-xd@2x.png 2x" alt="Adobe XD" />
                        </li>
                    </ul>
                </div>
                <!-- /.g one-whole m-one-half -->
                <div class="g one-whole m-one-half">
                    <p class="icons__title">Front End Development</p>
                    <ul class="icons">
                        <li>
                            <img height="55" src="/assets/img/html5.png" srcset="/assets/img/html5@2x.png 2x" alt="HTML5" />
                        </li>
                        <li>
                            <img height="55" src="/assets/img/css3.png" srcset="/assets/img/css3@2x.png 2x" alt="CSS3" />
                        </li>
                        <li>
                            <img height="55" src="/assets/img/js.png" srcset="/assets/img/js@2x.png 2x" alt="JavaScript" />
                        </li>
                        <li>
                            <img height="45" src="/assets/img/gulp.png" srcset="/assets/img/gulp@2x.png 2x" alt="Gulp" />
                        </li>
                        <li>
                            <img height="55" src="/assets/img/atom.png" srcset="/assets/img/atom@2x.png 2x" alt="Atom" />
                        </li>
                        <li>
                            <img height="45" src="/assets/img/sass.png" srcset="/assets/img/sass@2x.png 2x" alt="Sass" />
                        </li>
                    </ul>
                </div>
                <!-- /.g one-whole m-one-half -->
                <div class="g one-whole m-one-half">
                    <p class="icons__title">Back End Development</p>
                    <ul class="icons">
                        <li>
                            <img height="40" src="/assets/img/php.png" srcset="/assets/img/php@2x.png 2x" alt="PHP" />
                        </li>
                        <li>
                            <img height="55" src="/assets/img/wordpress.png" srcset="/assets/img/wordpress@2x.png 2x" alt="WordPress" />
                        </li>
                        <li>
                            <img height="55" src="/assets/img/jekyll.png" srcset="/assets/img/jekyll@2x.png 2x" alt="Jekyll" />
                        </li>
                        <li>
                            <img height="40" src="/assets/img/git.png" srcset="/assets/img/git@2x.png 2x" alt="Git" />
                        </li>
                    </ul>
                </div>
                <!-- /.g one-whole m-one-half -->
                <div class="g one-whole m-one-half">
                    <p class="icons__title">Marketing</p>
                    <ul class="icons">
                        <li>
                            <img height="55" src="/assets/img/google-analytics.png" srcset="/assets/img/google-analytics@2x.png 2x" alt="Google Analytics" />
                        </li>
                        <li>
                            <img height="55" src="/assets/img/twitter.png" srcset="/assets/img/twitter@2x.png 2x" alt="Twitter" />
                        </li>
                        <li>
                            <img height="55" src="/assets/img/facebook.png" srcset="/assets/img/facebook@2x.png 2x" alt="Facebook" />
                        </li>
                        <li>
                            <img height="40" src="/assets/img/linkedin.png" srcset="/assets/img/linkedin@2x.png 2x" alt="LinkedIn" />
                        </li>
                    </ul>
                </div>
                <!-- /.g one-whole m-one-half -->
            </div>
            <!-- /.gw -->
        </div>
        <!-- /.content-block__body -->
    </div>
    <!-- /.container -->
</div>
<!-- /.content-block -->

<div class="content-block content-block--projects mb-5">
    <div class="container">
        <div class="content-block__title">
            <h2>More doing, less talking</h2>
        </div>
        <!-- /.content-block__title -->
        <div class="content-block__body">
            <p class="lede">In 14 weeks with us you’ll be working on 7 projects which progressively build your skills and confidence. By the end of the course you’ll have a solid portfolio ready to wow potential employers with.</p>
        </div>
        <!-- /.content-block__body -->
        <div class="content-block__cta">
            <p><a id="toggle-projects" class="btn btn--alt" href="#">See the projects</a></p>
        </div>
        <!-- /.content-block__cta -->

        <div id="projects-list" class="projects mt-5">
            <div class="content-block__title mb-4">
                <h2>The Projects</h2>
            </div>
            <!-- /.content-block__title -->
            <div class="row mb-4">
                <div class="col-md-4">
                    <div class="list-group" id="list-tab" role="tablist">
                        <a class="list-group-item list-group-item-action active" id="list-project-one" data-toggle="list" href="#project-one" role="tab" aria-controls="project-one">
                            #1 - Hello World
                        </a>
                        <a class="list-group-item list-group-item-action" id="list-project-two" data-toggle="list" href="#project-two" role="tab" aria-controls="project-two">
                            #2 - Hyperlinkin&rsquo;, Stylin&rsquo; &amp; Profilin&rsquo;
                        </a>
                        <a class="list-group-item list-group-item-action" id="list-project-three" data-toggle="list" href="#project-three" role="tab" aria-controls="project-three">
                            #3 - Play Your Trump Card
                        </a>
                        <a class="list-group-item list-group-item-action" id="list-project-four" data-toggle="list" href="#project-four" role="tab" aria-controls="project-four">
                            #4 - Jekyll and Hyde
                        </a>
                        <a class="list-group-item list-group-item-action" id="list-project-five" data-toggle="list" href="#project-five" role="tab" aria-controls="project-five">
                            #5 - Word Up
                        </a>
                        <a class="list-group-item list-group-item-action" id="list-project-six" data-toggle="list" href="#project-six" role="tab" aria-controls="project-six">
                            #6 - Build a WordPress Death Star
                        </a>
                        <a class="list-group-item list-group-item-action" id="list-project-seven" data-toggle="list" href="#project-seven" role="tab" aria-controls="project-seven">
                            #7 - The Final Countdown
                        </a>
                        <a class="list-group-item list-group-item-action" id="list-project-ppd" data-toggle="list" href="#project-ppd" role="tab" aria-controls="project-ppd">
                            Ongoing - Have Your Cake and Eat It
                        </a>
                    </div>
                    <!-- /.list-group -->
                </div>
                <!-- /.col-4 -->
                <div class="col-md-8">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="project-one" role="tabpanel" aria-labelledby="list-project-one">
                            <div class="project">
                                <div class="project__title">
                                    <p class="small">Project 1</p>
                                    <h3>Hello World</h3>
                                </div>
                                <!-- /.project__title -->
                                <div class="project__body mb-3">
                                    <p>Explore how to design a simple one page website; build it using HTML and CSS; and make it work across a range of portable devices. Deploy social media marketing techniques on the site and push it live to the web.</p>
                                </div>
                                <!-- /.project__body -->
                                <div class="project__meta">
                                    <h4>You'll learn:</h4>
                                    <ul class="icons icons--flexible mb-0">
                                        <li>
                                            <img height="35" src="/assets/img/photoshop-cc.png" srcset="/assets/img/photoshop-cc@2x.png 2x" alt="Adobe Photoshop" />
                                        </li>
                                        <li>
                                            <img height="35" src="/assets/img/adobe-xd.png" srcset="/assets/img/adobe-xd@2x.png 2x" alt="Adobe XD" />
                                        </li>
                                        <li>
                                            <img height="35" src="/assets/img/html5.png" srcset="/assets/img/html5@2x.png 2x" alt="HTML5" />
                                        </li>
                                        <li>
                                            <img height="35" src="/assets/img/css3.png" srcset="/assets/img/css3@2x.png 2x" alt="CSS3" />
                                        </li>
                                        <li>
                                            <img height="35" src="/assets/img/atom.png" srcset="/assets/img/atom@2x.png 2x" alt="Atom" />
                                        </li>
                                        <li>
                                            <img height="30" src="/assets/img/google-analytics.png" srcset="/assets/img/google-analytics@2x.png 2x" alt="Google Analytics" />
                                        </li>
                                    </ul>
                                </div>
                                <!-- /.project__meta -->
                            </div>
                            <!-- /.project -->
                        </div>
                        <!-- /#project-one -->
                        <div class="tab-pane fade" id="project-two" role="tabpanel" aria-labelledby="list-project-two">
                            <div class="project">
                                <div class="project__title">
                                    <p class="small">Project 2</p>
                                    <h3>Hyperlinkin&rsquo;, Stylin&rsquo; &amp; Profilin&rsquo;</h3>
                                </div>
                                <!-- /.project__title -->
                                <div class="project__body mb-3">
                                    <p>Build on your knowledge and skills by creating a multi-page website using more sophisticated design and coding techniques. Investigate how to enhance the site with JavaScript and web-based digital marketing techniques.</p>
                                </div>
                                <!-- /.project__body -->
                                <div class="project__meta">
                                    <h4>You'll learn:</h4>
                                    <ul class="icons icons--flexible mb-0">
                                        <li>
                                            <img height="35" src="/assets/img/photoshop-cc.png" srcset="/assets/img/photoshop-cc@2x.png 2x" alt="Adobe Photoshop" />
                                        </li>
                                        <li>
                                            <img height="35" src="/assets/img/adobe-xd.png" srcset="/assets/img/adobe-xd@2x.png 2x" alt="Adobe XD" />
                                        </li>
                                        <li>
                                            <img height="35" src="/assets/img/html5.png" srcset="/assets/img/html5@2x.png 2x" alt="HTML5" />
                                        </li>
                                        <li>
                                            <img height="35" src="/assets/img/css3.png" srcset="/assets/img/css3@2x.png 2x" alt="CSS3" />
                                        </li>
                                        <li>
                                            <img height="35" src="/assets/img/js.png" srcset="/assets/img/js@2x.png 2x" alt="JavaScript" />
                                        </li>
                                        <li>
                                            <img height="35" src="/assets/img/atom.png" srcset="/assets/img/atom@2x.png 2x" alt="Atom" />
                                        </li>
                                        <li>
                                            <img height="30" src="/assets/img/sass.png" srcset="/assets/img/sass@2x.png 2x" alt="Sass" />
                                        </li>
                                        <li>
                                            <img height="35" src="/assets/img/google-analytics.png" srcset="/assets/img/google-analytics@2x.png 2x" alt="Google Analytics" />
                                        </li>
                                        <li>
                                            <img height="35" src="/assets/img/twitter.png" srcset="/assets/img/twitter@2x.png 2x" alt="Twitter" />
                                        </li>
                                        <li>
                                            <img height="35" src="/assets/img/facebook.png" srcset="/assets/img/facebook@2x.png 2x" alt="Facebook" />
                                        </li>
                                        <li>
                                            <img height="20" src="/assets/img/linkedin.png" srcset="/assets/img/linkedin@2x.png 2x" alt="LinkedIn" />
                                        </li>
                                    </ul>
                                </div>
                                <!-- /.project__meta -->
                            </div>
                            <!-- /.project -->
                        </div>
                        <!-- /#project-two -->
                        <div class="tab-pane fade" id="project-three" role="tabpanel" aria-labelledby="list-project-three">
                            <div class="project">
                                <div class="project__title">
                                    <p class="small">Project 3</p>
                                    <h3>Play Your Trump Card</h3>
                                </div>
                                <!-- /.project__title -->
                                <div class="project__body mb-3">
                                    <p>Take a short break from web work and repurpose the skills you’ve already gained for a print design project. The modern digital agency is a dynamic environment and extra creative / digital skills will give you a competitive advantage when it comes to getting a job.</p>
                                </div>
                                <!-- /.project__body -->
                                <div class="project__meta">
                                    <h4>You'll learn:</h4>
                                    <ul class="icons icons--flexible mb-0">
                                        <li>
                                            <img data-toggle="tooltip" data-placement="top" title="Adobe Illustrator CC" height="35" src="/assets/img/adobe-illustrator-cc.png" srcset="/assets/img/adobe-illustrator-cc@2x.png 2x" alt="Adobe Illustrator CC" />
                                        </li>
                                        <li>
                                            <img height="35" src="/assets/img/indesign-cc.png" srcset="/assets/img/indesign-cc@2x.png 2x" alt="Adobe InDesign" />
                                        </li>
                                        <li>
                                            <img height="35" src="/assets/img/photoshop-cc.png" srcset="/assets/img/photoshop-cc@2x.png 2x" alt="Adobe Photoshop" />
                                        </li>
                                    </ul>
                                </div>
                                <!-- /.project__meta -->
                            </div>
                            <!-- /.project -->
                        </div>
                        <!-- /#project-three -->
                        <div class="tab-pane fade" id="project-four" role="tabpanel" aria-labelledby="list-project-four">
                            <div class="project">
                                <div class="project__title">
                                    <p class="small">Project 4</p>
                                    <h3>Jekyll and Hyde</h3>
                                </div>
                                <!-- /.project__title -->
                                <div class="project__body mb-3">
                                    <p>Pick up web work again and start using Content Management Systems [CMS], which allow you to update websites online without having to write code. Learn about flat-file CMS and refine your web development workflow to create more efficient code with task runners and preprocessors like SCSS.</p>
                                </div>
                                <!-- /.project__body -->
                                <div class="project__meta">
                                    <h4>You'll learn:</h4>
                                    <ul class="icons icons--flexible mb-0">
                                        <li>
                                            <img height="35" src="/assets/img/photoshop-cc.png" srcset="/assets/img/photoshop-cc@2x.png 2x" alt="Adobe Photoshop" />
                                        </li>
                                        <li>
                                            <img height="35" src="/assets/img/adobe-xd.png" srcset="/assets/img/adobe-xd@2x.png 2x" alt="Adobe XD" />
                                        </li>
                                        <li>
                                            <img height="35" src="/assets/img/html5.png" srcset="/assets/img/html5@2x.png 2x" alt="HTML5" />
                                        </li>
                                        <li>
                                            <img height="35" src="/assets/img/css3.png" srcset="/assets/img/css3@2x.png 2x" alt="CSS3" />
                                        </li>
                                        <li>
                                            <img height="35" src="/assets/img/js.png" srcset="/assets/img/js@2x.png 2x" alt="JavaScript" />
                                        </li>
                                        <li>
                                            <img height="20" src="/assets/img/gulp.png" srcset="/assets/img/gulp@2x.png 2x" alt="Gulp" />
                                        </li>
                                        <li>
                                            <img height="35" src="/assets/img/atom.png" srcset="/assets/img/atom@2x.png 2x" alt="Atom" />
                                        </li>
                                        <li>
                                            <img height="30" src="/assets/img/sass.png" srcset="/assets/img/sass@2x.png 2x" alt="Sass" />
                                        </li>
                                        <li>
                                            <img height="35" src="/assets/img/jekyll.png" srcset="/assets/img/jekyll@2x.png 2x" alt="Jekyll" />
                                        </li>
                                        <li>
                                            <img height="20" src="/assets/img/git.png" srcset="/assets/img/git@2x.png 2x" alt="Git" />
                                        </li>
                                        <li>
                                            <img height="35" src="/assets/img/google-analytics.png" srcset="/assets/img/google-analytics@2x.png 2x" alt="Google Analytics" />
                                        </li>
                                    </ul>
                                </div>
                                <!-- /.project__meta -->
                            </div>
                            <!-- /.project -->
                        </div>
                        <!-- /#project-four -->
                        <div class="tab-pane fade" id="project-five" role="tabpanel" aria-labelledby="list-project-five">
                            <div class="project">
                                <div class="project__title">
                                    <p class="small">Project 5</p>
                                    <h3>Word Up</h3>
                                </div>
                                <!-- /.project__title -->
                                <div class="project__body mb-3">
                                    <p>Learn WordPress – the web’s most popular CMS – and how to make a website using it that can be edited from anywhere. Start to think about how branding influences the perception of your sites.</p>
                                </div>
                                <!-- /.project__body -->
                                <div class="project__meta">
                                    <h4>You'll learn:</h4>
                                    <ul class="icons icons--flexible mb-0">
                                        <li>
                                            <img data-toggle="tooltip" data-placement="top" title="Adobe Illustrator CC" height="35" src="/assets/img/adobe-illustrator-cc.png" srcset="/assets/img/adobe-illustrator-cc@2x.png 2x" alt="Adobe Illustrator CC" />
                                        </li>
                                        <li>
                                            <img height="35" src="/assets/img/photoshop-cc.png" srcset="/assets/img/photoshop-cc@2x.png 2x" alt="Adobe Photoshop" />
                                        </li>
                                        <li>
                                            <img height="35" src="/assets/img/adobe-xd.png" srcset="/assets/img/adobe-xd@2x.png 2x" alt="Adobe XD" />
                                        </li>
                                        <li>
                                            <img height="35" src="/assets/img/html5.png" srcset="/assets/img/html5@2x.png 2x" alt="HTML5" />
                                        </li>
                                        <li>
                                            <img height="35" src="/assets/img/css3.png" srcset="/assets/img/css3@2x.png 2x" alt="CSS3" />
                                        </li>
                                        <li>
                                            <img height="35" src="/assets/img/js.png" srcset="/assets/img/js@2x.png 2x" alt="JavaScript" />
                                        </li>
                                        <li>
                                            <img height="20" src="/assets/img/gulp.png" srcset="/assets/img/gulp@2x.png 2x" alt="Gulp" />
                                        </li>
                                        <li>
                                            <img height="35" src="/assets/img/atom.png" srcset="/assets/img/atom@2x.png 2x" alt="Atom" />
                                        </li>
                                        <li>
                                            <img height="30" src="/assets/img/sass.png" srcset="/assets/img/sass@2x.png 2x" alt="Sass" />
                                        </li>
                                        <li>
                                            <img height="20" src="/assets/img/php.png" srcset="/assets/img/php@2x.png 2x" alt="PHP" />
                                        </li>
                                        <li>
                                            <img height="35" src="/assets/img/wordpress.png" srcset="/assets/img/wordpress@2x.png 2x" alt="WordPress" />
                                        </li>
                                        <li>
                                            <img height="20" src="/assets/img/git.png" srcset="/assets/img/git@2x.png 2x" alt="Git" />
                                        </li>
                                        <li>
                                            <img height="35" src="/assets/img/google-analytics.png" srcset="/assets/img/google-analytics@2x.png 2x" alt="Google Analytics" />
                                        </li>
                                    </ul>
                                </div>
                                <!-- /.project__meta -->
                            </div>
                            <!-- /.project -->
                        </div>
                        <!-- /#project-five -->
                        <div class="tab-pane fade" id="project-six" role="tabpanel" aria-labelledby="list-project-six">
                            <div class="project">
                                <div class="project__title">
                                    <p class="small">Project 6</p>
                                    <h3>Build a WordPress Death Star</h3>
                                </div>
                                <!-- /.project__title -->
                                <div class="project__body mb-3">
                                    <p>Use your new-found WordPress knowledge – and other stuff too – to make an advanced website that’s commercially ready. Consider a variety in inbound marketing techniques to make the site content-rich and drive user engagement.</p>
                                </div>
                                <!-- /.project__body -->
                                <div class="project__meta">
                                    <h4>You'll learn:</h4>
                                    <ul class="icons icons--flexible mb-0">
                                        <li>
                                            <img data-toggle="tooltip" data-placement="top" title="Adobe Illustrator CC" height="35" src="/assets/img/adobe-illustrator-cc.png" srcset="/assets/img/adobe-illustrator-cc@2x.png 2x" alt="Adobe Illustrator CC" />
                                        </li>
                                        <li>
                                            <img height="35" src="/assets/img/photoshop-cc.png" srcset="/assets/img/photoshop-cc@2x.png 2x" alt="Adobe Photoshop" />
                                        </li>
                                        <li>
                                            <img height="35" src="/assets/img/adobe-xd.png" srcset="/assets/img/adobe-xd@2x.png 2x" alt="Adobe XD" />
                                        </li>
                                        <li>
                                            <img height="35" src="/assets/img/html5.png" srcset="/assets/img/html5@2x.png 2x" alt="HTML5" />
                                        </li>
                                        <li>
                                            <img height="35" src="/assets/img/css3.png" srcset="/assets/img/css3@2x.png 2x" alt="CSS3" />
                                        </li>
                                        <li>
                                            <img height="35" src="/assets/img/js.png" srcset="/assets/img/js@2x.png 2x" alt="JavaScript" />
                                        </li>
                                        <li>
                                            <img height="20" src="/assets/img/gulp.png" srcset="/assets/img/gulp@2x.png 2x" alt="Gulp" />
                                        </li>
                                        <li>
                                            <img height="35" src="/assets/img/atom.png" srcset="/assets/img/atom@2x.png 2x" alt="Atom" />
                                        </li>
                                        <li>
                                            <img height="30" src="/assets/img/sass.png" srcset="/assets/img/sass@2x.png 2x" alt="Sass" />
                                        </li>
                                        <li>
                                            <img height="20" src="/assets/img/php.png" srcset="/assets/img/php@2x.png 2x" alt="PHP" />
                                        </li>
                                        <li>
                                            <img height="35" src="/assets/img/wordpress.png" srcset="/assets/img/wordpress@2x.png 2x" alt="WordPress" />
                                        </li>
                                        <li>
                                            <img height="20" src="/assets/img/git.png" srcset="/assets/img/git@2x.png 2x" alt="Git" />
                                        </li>
                                        <li>
                                            <img height="35" src="/assets/img/google-analytics.png" srcset="/assets/img/google-analytics@2x.png 2x" alt="Google Analytics" />
                                        </li>
                                    </ul>
                                </div>
                                <!-- /.project__meta -->
                            </div>
                            <!-- /.project -->
                        </div>
                        <!-- /#project-six -->
                        <div class="tab-pane fade" id="project-seven" role="tabpanel" aria-labelledby="list-project-seven">
                            <div class="project">
                                <div class="project__title">
                                    <p class="small">Project 7</p>
                                    <h3>The Final Countdown</h3>
                                </div>
                                <!-- /.project__title -->
                                <div class="project__body mb-3">
                                    <p>Showcase your skills in a negotiated final project which uses technologies appropriate to your employment destination. Prepare to present your body of work to the outside world and to take the first step on the careers ladder.</p>
                                </div>
                                <!-- /.project__body -->
                                <div class="project__meta">
                                    <h4>You'll learn:</h4>
                                    <p><em>You'll get to choose which of your skills you want to refine, ready for employment.</em></p>
                                </div>
                                <!-- /.project__meta -->
                            </div>
                            <!-- /.project -->
                        </div>
                        <!-- /#project-seven -->
                        <div class="tab-pane fade" id="project-ppd" role="tabpanel" aria-labelledby="list-project-ppd">
                            <div class="project">
                                <div class="project__title">
                                    <p class="small">Ongoing</p>
                                    <h3>Have Your Cake and Eat It</h3>
                                </div>
                                <!-- /.project__title -->
                                <div class="project__body mb-3">
                                    <p>Several weekly sessions are set aside to receive visiting speakers; to learn about niche ideas and techniques; to plan and review your  progress to employment; or to simply stop, think and eat some cake.</p>
                                </div>
                                <!-- /.project__body -->
                            </div>
                            <!-- /.project -->
                        </div>
                        <!-- /#project-seven -->
                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- /.col-8 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.projects -->
    </div>
    <!-- /.container -->
</div>
<!-- /.content-block -->


<div class="content-block content-block--different">
    <div class="container container--small">
        <div class="content-block__title">
            <h2>Why we're different</h2>
        </div>
        <!-- /.content-block__title -->
        <div class="content-block__body">

            <div class="fact">
                <div class="fact__no">
                    <p>1</p>
                </div>
                <!-- /.fact__no -->
                <div class="fact__title">
                    <h3>Our job is getting you a job...</h3>
                </div>
                <!-- /.fact__title -->
                <div class="fact__body">
                    <p>We’re 100&#37; focused on getting you a job. Our [re]start course is taught by industry experts who have a sustained reputation for getting people into work.</p>
                </div>
                <!-- /.fact__body -->
            </div>
            <!-- /.fact -->


            <div class="fact">
                <div class="fact__no">
                    <p>2</p>
                </div>
                <!-- /.fact__no -->
                <div class="fact__title">
                    <h3>...and you’ll get that job quickly</h3>
                </div>
                <!-- /.fact__title -->
                <div class="fact__body">
                    <p>We work to industry timescales, not education ones. Three years for a degree or three months with Learn the Web? We do it at a fraction of the cost of universities too.</p>
                </div>
                <!-- /.fact__body -->
            </div>
            <!-- /.fact -->


            <div class="fact">
                <div class="fact__no">
                    <p>3</p>
                </div>
                <!-- /.fact__no -->
                <div class="fact__title">
                    <h3>We’re not 'traditional education'</h3>
                </div>
                <!-- /.fact__title -->
                <div class="fact__body">
                    <p>We’re agile and quick to change to the needs of the industry. What we teach is up-to-the-second relevant. This is education like you’ve ever experienced before.</p>
                </div>
                <!-- /.fact__body -->
            </div>
            <!-- /.fact -->


            <div class="fact">
                <div class="fact__no">
                    <p>4</p>
                </div>
                <!-- /.fact__no -->
                <div class="fact__title">
                    <h3>Not just another coding bootcamp</h3>
                </div>
                <!-- /.fact__title -->
                <div class="fact__body">
                    <p>Our focus isn't to 'teach you coding', it's about teaching you a range of creative and digital skills: to make you 'agency-ready'. You'll feel empowered and ready to get your first job in the industry, be it design or development.</p>
                </div>
                <!-- /.fact__body -->
            </div>
            <!-- /.fact -->


            <div class="fact">
                <div class="fact__no">
                    <p>5</p>
                </div>
                <!-- /.fact__no -->
                <div class="fact__title">
                    <h3>Our contacts book is too big to carry</h3>
                </div>
                <!-- /.fact__title -->
                <div class="fact__body">
                    <p>We have an extensive list of industry contacts and a pool of industry professionals ready to bring the course to life with their real-life experiences.</p>
                </div>
                <!-- /.fact__body -->
            </div>
            <!-- /.fact -->


            <div class="fact">
                <div class="fact__no">
                    <p>6</p>
                </div>
                <!-- /.fact__no -->
                <div class="fact__title">
                    <h3>Delivered from purpose-built facilities</h3>
                </div>
                <!-- /.fact__title -->
                <div class="fact__body">
                    <p>We’re proud to be based at the Digital Media Centre in Barnsley, which is crammed full of Creative & Digital companies. You’ll be working in purpose-built facilities, rubbing shoulders with web professionals every day.</p>
                </div>
                <!-- /.fact__body -->
            </div>
            <!-- /.fact -->

        </div>
        <!-- /.content-block__body -->
    </div>
    <!-- /.container -->
</div>
<!-- /.content-block -->

<div class="info-box info-box--promo">
    <div class="info-box__body">
        <h2>Introducing [re]start.</h2>
        <p class="lede">[re]start is an accelerated 14-week course designed to teach you everything you need to know to get your first job in the web industry.</p>
        <div class="feature">
            <p>Job-focused and taught by industry experts who have a reputation for getting people jobs</p>
        </div>
        <!-- /.feature -->
        <div class="feature">
            <p>Adaptable and responsive – and without the constraints of traditional education – and at a fraction of the cost and timescale</p>
        </div>
        <!-- /.feature -->
        <div class="feature">
            <p>Delivered in purpose-built facilities, rubbing shoulders with the people who might employ you everyday</p>
        </div>
        <!-- /.feature -->
    </div>
    <!-- /.info-box__body -->
    <div class="info-box__cta">
        <div class="cta-info">
            <p><a href="mailto:hello@learntheweb.co.uk?subject=I'd like to know more about [re]start" class="btn btn--lrg">[re]start your career</a></p>
        </div>
        <!-- /.cta-info -->
        <div class="cta-info cta-info--rev">
            <p>14 week course</p>
            <p>Starting New Year 2019</p>
        </div>
        <!-- /.cta-info cta-info--rev -->
    </div>
    <!-- /.info-box__cta -->
</div>
<!-- /.info-box info-box--promo -->
