/*------------------------------------------------------------------
[$PARTIAL-GRID]

Our grid. Used to lay stuff out effectively.
-------------------------------------------------------------------*/


.container {
	width: $container-width;
	max-width: 95%;
	margin: 0 auto;
}

.gw, .grid-wrapper {
    /**
     * Negative margin to negate the padding on the first grid child.
     */
    margin-left:-$grid-gutter;
    /**
     * The following declarations allow us to use the `.gw` class on lists.
     */
    list-style:none;
    margin-bottom:0;
    @extend .cf;

    .g--inline {
        margin-right: -6px;
        &:last-child {
            margin-right: 0px;
        }
    }
}

	.gw > .gw {
		margin-left: 0;
	}

.g {
	min-height: 1px;
	float: left;
	padding-left: $grid-gutter;
	webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	*behavior: url(/boxsizing.htc);
}

    .g--inline {
        float: none;
        display: inline-block;
    }

    .g--inline-top {
        vertical-align: top;
    }

    .g--inline-middle {
        vertical-align: middle;
    }

    .g--inline-bottom {
        vertical-align: bottom;
    }

.gw--full {
	margin-left: 0;

	.g {
		padding-left: 0;
	}
	
	.gw {
		.g {
			padding-left: $grid-gutter;
		}
	}
}

@mixin create-grid($size) {

	$prepend: null;

	@if $size == all {
		$prepend: null;
	} @else {
		$prepend: $size + "-";
	}


	%#{$prepend}one-whole, .#{$prepend}one-whole {
		width: 100%;
	}

		%#{$prepend}push-one-whole, .#{$prepend}push-one-whole {
			margin-left: 100%;
		}

	%#{$prepend}one-half, %#{$prepend}two-quarters, %#{$prepend}three-sixths, %#{$prepend}four-eighths, %#{$prepend}five-tenths, .#{$prepend}one-half, .#{$prepend}two-quarters, .#{$prepend}three-sixths, .#{$prepend}four-eighths, .#{$prepend}five-tenths {
		width: 50%;
	}

		%#{$prepend}push-one-half, %#{$prepend}push-two-quarters, %#{$prepend}push-three-sixths, %#{$prepend}push-four-eighths, %#{$prepend}push-five-tenths, .#{$prepend}push-one-half, .#{$prepend}push-two-quarters, .#{$prepend}push-three-sixths, .#{$prepend}push-four-eighths, .#{$prepend}push-five-tenths {
			margin-left: 50%;
		}

	%#{$prepend}one-third, %#{$prepend}two-sixths, .#{$prepend}one-third, .#{$prepend}two-sixths {
		width: 33.333%;
	}

		%#{$prepend}push-one-third, %#{$prepend}push-two-sixths, .#{$prepend}push-one-third, .#{$prepend}push-two-sixths {
			margin-left: 33.333%;
		}

	%#{$prepend}two-thirds, %#{$prepend}four-sixths, .#{$prepend}two-thirds, .#{$prepend}four-sixths {
		width: 66.666%;
	}

		%#{$prepend}push-two-thirds, %#{$prepend}push-four-sixths, .#{$prepend}push-two-thirds, .#{$prepend}push-four-sixths {
			margin-left: 66.666%;
		}

	%#{$prepend}one-quarter, %#{$prepend}two-eighths, .#{$prepend}one-quarter, .#{$prepend}two-eighths {
		width: 25%;
	}

		%#{$prepend}push-one-quarter, %#{$prepend}push-two-eighths, .#{$prepend}push-one-quarter, .#{$prepend}push-two-eighths {
			margin-left: 25%;
		}

	%#{$prepend}three-quarters, %#{$prepend}six-eighths, .#{$prepend}three-quarters, .#{$prepend}six-eighths {
		width: 75%;
	}

		%#{$prepend}push-three-quarters, %#{$prepend}push-six-eighths, .#{$prepend}push-three-quarters, .#{$prepend}push-six-eighths {
			margin-left: 75%;
		}

	%#{$prepend}one-fifth, %#{$prepend}two-tenths, %#{$prepend}four-tenths, .#{$prepend}one-fifth, .#{$prepend}two-tenths, .#{$prepend}four-tenths {
		width: 20%;
	}

		%#{$prepend}push-one-fifth, %#{$prepend}push-two-tenths, %#{$prepend}push-four-tenths, .#{$prepend}push-one-fifth, .#{$prepend}push-two-tenths, .#{$prepend}push-four-tenths {
			margin-left: 20%;
		}

	%#{$prepend}two-fifths, .#{$prepend}two-fifths {
		width: 40%;
	}

		%#{$prepend}push-two-fifths, .#{$prepend}push-two-fifths {
			margin-left: 40%;
		}

	%#{$prepend}three-fifths, %#{$prepend}six-tenths, .#{$prepend}three-fifths, .#{$prepend}six-tenths {
		width: 60%;
	}

		%#{$prepend}push-three-fifths, %#{$prepend}push-six-tenths, .#{$prepend}push-three-fifths, .#{$prepend}push-six-tenths {
			margin-left: 60%;
		}

	%#{$prepend}four-fifths, %#{$prepend}eight-tenths, .#{$prepend}four-fifths, .#{$prepend}eight-tenths {
		width: 80%;
	}

		%#{$prepend}push-four-fifths, %#{$prepend}push-eight-tenths, .#{$prepend}push-four-fifths, .#{$prepend}push-eight-tenths {
			margin-left: 80%;
		}

	%#{$prepend}one-sixth, .#{$prepend}one-sixth {
		width: 16.666%;
	}

		%#{$prepend}push-one-sixth, .#{$prepend}push-one-sixth {
			margin-left: 16.666%;
		}

	%#{$prepend}five-sixths, .#{$prepend}five-sixths {
		width: 83.333%;
	}

		%#{$prepend}push-five-sixths, .#{$prepend}push-five-sixths {
			margin-left: 83.333%;
		}

	%#{$prepend}one-eighth, .#{$prepend}one-eighth {
		width: 12.5%;
	}

		%#{$prepend}push-one-eighth, .#{$prepend}push-one-eighth {
			margin-left: 12.5%;
		}

	%#{$prepend}three-eighths, .#{$prepend}three-eighths {
		width: 37.5%;
	}

		%#{$prepend}push-three-eighths, .#{$prepend}push-three-eighths {
			margin-left: 37.5%;
		}

	%#{$prepend}five-eighths, .#{$prepend}five-eighths {
		width: 62.5%;
	}

		%#{$prepend}push-five-eighths, .#{$prepend}push-five-eighths {
			margin-left: 62.5%;
		}

	%#{$prepend}seven-eighths, .#{$prepend}seven-eighths {
		width: 87.5%;
	}

		%#{$prepend}push-seven-eighths, .#{$prepend}push-seven-eighths {
			margin-left: 87.5%;
		}

	%#{$prepend}one-tenth, .#{$prepend}one-tenth {
		width: 10%;
	}

		%#{$prepend}push-one-tenth, .#{$prepend}push-one-tenth {
			margin-left: 10%;
		}

	%#{$prepend}three-tenths, .#{$prepend}three-tenths {
		width: 30%;
	}

		%#{$prepend}push-three-tenths, .#{$prepend}push-three-tenths {
			margin-left: 30%;
		}

	%#{$prepend}seven-tenths, .#{$prepend}seven-tenths {
		width: 70%;
	}

		%#{$prepend}push-seven-tenths, .#{$prepend}push-seven-tenths {
			margin-left: 70%;
		}

	%#{$prepend}nine-tenths, .#{$prepend}nine-tenths {
		width: 90%;
	}

		%#{$prepend}push-nine-tenths, .#{$prepend}push-nine-tenths {
			margin-left: 90%;
		}

	// Single column sizes

	%#{$prepend}g-1, .#{$prepend}g-1 {
		width: 8.333333333%;
	}

		%#{$prepend}push-g-1, .#{$prepend}push-g-1 {
			margin-left: 8.333333333%;
		}

	%#{$prepend}g-2, .#{$prepend}g-2 {
		@extend .#{$prepend}one-sixth;
	}

		%#{$prepend}push-g-2, .#{$prepend}push-g-2 {
			@extend .#{$prepend}push-one-sixth;
		}

	%#{$prepend}g-3, .#{$prepend}g-3 {
		@extend .#{$prepend}one-quarter;
	}

		%#{$prepend}push-g-3, .#{$prepend}push-g-3 {
			@extend .#{$prepend}push-one-quarter;
		}

	%#{$prepend}g-4, .#{$prepend}g-4 {
		@extend .#{$prepend}one-third;
	}

		%#{$prepend}push-g-4, .#{$prepend}push-g-4 {
			@extend .#{$prepend}push-one-third;
		}

	%#{$prepend}g-5, .#{$prepend}g-5 {
		width: 41.666666665%;
	}

		%#{$prepend}push-g-5, .#{$prepend}push-g-5 {
			margin-left: 41.666666665%;
		}

	%#{$prepend}g-6, .#{$prepend}g-6 {
		@extend .#{$prepend}one-half;
	}

		%#{$prepend}push-g-6, .#{$prepend}push-g-6 {
			@extend .#{$prepend}push-one-half;
		}

	%#{$prepend}g-7, .#{$prepend}g-7 {
		width: 58.333333331%;
	}

		%#{$prepend}push-g-7, .#{$prepend}push-g-7 {
			margin-left: 58.333333331%;
		}

	%#{$prepend}g-8, .#{$prepend}g-8 {
		@extend .#{$prepend}two-thirds;
	}

		%#{$prepend}push-g-8, .#{$prepend}push-g-8 {
			@extend .#{$prepend}push-two-thirds;
		}

	%#{$prepend}g-9, .#{$prepend}g-9 {
		@extend .#{$prepend}three-quarters
	}

	%#{$prepend}push-g-9, .#{$prepend}push-g-9 {
		@extend .#{$prepend}push-three-quarters
	}

	%#{$prepend}g-10, .#{$prepend}g-10 {
		@extend .#{$prepend}five-sixths;
	}

		%#{$prepend}push-g-10, .#{$prepend}push-g-10 {
			@extend .#{$prepend}push-five-sixths;
		}

	%#{$prepend}g-11, .#{$prepend}g-11 {
		width: 91.666666663%;
	}

		%#{$prepend}push-g-11, .#{$prepend}push-g-11 {
			margin-left: 91.666666663%;
		}

	%#{$prepend}g-12, .#{$prepend}g-12 {
		@extend .#{$prepend}one-whole;
	}

		%#{$prepend}push-g-12, .#{$prepend}push-g-12 {
			@extend .#{$prepend}push-one-whole;
		}

    %#{$prepend}push-none, .#{$prepend}push-none {
        margin-left: 0;
    }

    %#{$prepend}float-right, .#{$prepend}float-right {
        float: right;
    }
	
	// Used to show/hide divs within your markup.
	// Experimental: MAY break your layout.
	%#{$prepend}show, .#{$prepend}show {
        display: block;
    }

	%#{$prepend}hide, .#{$prepend}hide {
        display: none;
    }
}

@include create-grid(all);

/*---------------------------------------------
[$mobile-grid]
----------------------------------------------*/
@include breakpoint(xs) {
	@include create-grid(xs);
}

@include breakpoint(s) {
	@include create-grid(s);
}

@include breakpoint(m) {
	@include create-grid(m);
}

@include breakpoint(l) {
	@include create-grid(l);
}

@include breakpoint(xl) {
	@include create-grid(xl);
}

/*---------------------------------------------
// ENDS [mobile-grid]
----------------------------------------------*/
